<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .menu{
           border: 1px solid black;
         }
         .content{
            margin-top: 20px;
            margin-bottom: 20px;
         }
         footer{
            border: 1px solid blue;
         }


    </style>
</head>
<body>

<nav class="menu">
    {% block nav %}
    /<a href="{% url 'items-list' %}">Список товаров</a> /<a href=""> Об авторе </a>
     {% endblock %}
</nav>

<main class="content">
    {% block content %}
    {% endblock %}
</main>
<footer>
    (c) Горский Д.В., 2022
</footer>
</body>
</html>